{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/clothes.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       <li><a href="{% url 'show_home' %}" class="auth-links" style="font-size: 1.7em; background: #1c0522;
    box-shadow: 0 0 5px lawngreen,
                0 0 25px #03e9f4,
                0 0 50px #8803f4,
                0 0 200px #03e9f4; color: lightpink; font-family: 'Baloo Tammudu 2' "> Home Page </a></li>
        <ul>
         {% if user.is_authenticated %}
            <li><a href="{% url 'clothes' %}" class="auth-links">Clothes</a></li>
            <li><a href="{% url 'profile' %}" class="auth-links">My Profile</a></li>
            <li><a href="{% url 'post_new' %}" class="auth-links">Create Post</a></li>
            <li><a href="{% url 'logout' %}" class="auth-links">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}" class="auth-links">Login</a></li>
            <li><a href="{% url 'register' %}" class="auth-links">Register</a></li>
        {% endif %}
        </ul>
    </header>
    <main role="main" class="container">
      <div class="row">
          <div class="col-md-8">
              {%  if messages%}
                {% for message in messages %}
                    <div class="alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
              {% endif %}
          </div>
        <div class="col-md-8">
           {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-sectionw"></div>
              </div>

        <footer style="margin-left: 400px" class="">
          <ul class="nav justify-content-center border-bottom"  style="margin-top: 200%">
            <li class="nav-item"><a href="{% url 'show_home' %}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="admin/" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">&copy; Masha's Demo Project 2024</p>
        </footer>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>