{% extends 'onlineshop/base.html' %}

{% block content %}

<hr>
    <article class="media content-section">
        <img style="width: 15%; height: 10%; border: 5px solid deeppink" class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata>">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
        <br>
    </article>

{% endblock content %}