{% extends 'onlineshop/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Profile</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <label class="custom-file-upload">
                    <input type="file"/>
                     Upload New Picture
                </label>
            </fieldset>
            <div class="form-group">
                <button type="submit">Update</button>
            </div>

        </form>

    </div>
{% endblock content %}