@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#1c0522, mediumpurple, lightpink);
    margin-top: 5rem;
    background-size: contain;
  }

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: transparent;
}

header .logo {
    color: black;
    font-family: "Telugu Sangam MN", serif;
    font-weight: 1000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1001;
    margin-right: 30px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

  .bg-steel {
    height: 60px;
    background-color: white;
    background: linear-gradient(rebeccapurple, #1c0522);
  }

.content-section {
    background: #ffffff;
    padding: 5px 20px;
    border: 1px solid #dddddd;
    margin-top: 30px;
    border-radius: 20px;
    gap: 8px;
}

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #9900ff;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1px;
    margin-bottom: 4px;
    font-size: 13px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .account-heading {
    font-size: 2.5rem;
  }
   svg{
       width: 100px;
       height: 50px;
   }

.auth-links{
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;

}
.auth-links:hover{
    font-weight: bold;
    background: #df00f8;
    text-decoration: none;
    color: #050801;
    box-shadow: 0 0 5px #56e313,
                0 0 25px #b9e616,
                0 0 50px #8803f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#gist-btn{
    color: black;
    background: linear-gradient(270deg, rgb(247, 0, 255) 0%, rgb(98, 0, 255) 100%);
    padding: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}
#gist-btn:hover{
    text-decoration: none;
}

.cardd{
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.849);
    max-width: 800px; /* Adjust the width as needed */
    width: 100%;
    margin-top: 90px;
    text-align: center;
    border-radius: 30px;
  }


  #profile-h1{
      color: rgb(255, 255, 255);
      font-family: 'Poppins', sans-serif;

  }
  .title {
    font-family: 'Poppins', sans-serif;
    color: rgb(228, 228, 228);
    font-size: 18px;
  }

  button {
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 1s;
    background: linear-gradient(270deg, rgb(247, 0, 255) 0%, rgb(98, 0, 255) 100%);
  }

  /* a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  button:hover, a:hover {
    opacity: 0.7;
    background-color: rgb(3, 1, 5);
  } */


#profile-img {
    /*margin-top: -20px;*/
    image-resolution: 300dpi;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.486);
    border-radius: 50px;
    object-fit: cover;
    display: block;
    margin-left: auto; /* Centers the image horizontally */
    margin-right: auto; /* Centers the image horizontally */
    border: 5px solid white;
    width: 250px;
    height: 250px;
}

.rounded-circle {
    height: 250px;}

.account-img {
    border-radius: 90%;
    top: 100px;
    image-resolution: 300dpi;
    margin-top: 100px;
}

  #footer{
      position: fixed;
      align-content: center;
      color: white;
  }

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 3px solid plum;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.card {
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}